[submodule ".zsh/zsh-autosuggestions"]
    path = .zsh/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".zsh/zsh-syntax-highlighting"]
    path = .zsh/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/polybar/wal-polybar"]
    path = .config/polybar/wal-polybar
    url = https://github.com/LuisHGH/wal-polybar.git
